*{
  margin: 0;
}
.clock-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 40, 80);
  min-height: 100vh;
}

.clock{
  color:darkcyan;
  background-color:rgb(21, 21, 67);
  padding: 20px 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}